@{
    ViewBag.Title = "Contáctenos";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="container">
    <form>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="first">Nombre</label>
                    <input type="text" class="form-control" placeholder="" >
                </div>
            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">
                <div class="form-group">
                    <label for="last">Primer Apellido</label>
                    <input type="text" class="form-control" placeholder="" id="last" >
                </div>
            </div>
            <!--  col-md-6   -->
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="last">Segundo Apellido</label>
                    <input type="text" class="form-control" placeholder="" id="last">
                </div>


            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">

                <div class="form-group">
                    <label for="phone">Número de Teléfono</label>
                    <input type="tel" class="form-control" id="phone" placeholder="phone">
                </div>
            </div>
            <!--  col-md-6   -->
        </div>
        <!--  row   -->


        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="email">
                </div>
            </div>
            <!--  col-md-6   -->

         
            <!--  col-md-6   -->
        </div>
        <!--  row   -->


     

        <label for="newsletter">¿Quieres recibir nuestro boletín electrónico?</label>
        <div class="checkbox">

            <label>
                <input type="checkbox" value="Seguro!" id="newsletter"> Sure!
            </label>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
